body{
    margin: 0;
    padding: 0;
    background-image:url(../css/images/background_template.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.phead{
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkcyan;
}
.product{
    margin-top: 40px;
    margin-bottom: 150px;
    margin-left: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 400px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 15px 15px 5px darkslategrey;
}
/* .product1{
    margin-top: 40px;
    margin-bottom: 150px;
    margin-left: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    width: 400px;
    background-color:white;
    border-radius: 20px;
    box-shadow: 15px 15px 5px darkslategrey;   
} */
.ptitle{
    font-size: 17px;
    /* font-style: italic; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkslategrey;
    padding-left: 30px;
}
#pdes{
    padding-top: 20px;
}
#product_image{
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.padd{
    margin-top: 22px;
    margin-left: 140px;
    height: 40px;
    width: 130px;
    background-color:darkcyan;
    color: white;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
    border-radius: 20px;
}
.padd:hover{
    background-color: white;
    color:darkslategrey;
    border: 1px solid darkslategrey;
    cursor: pointer;
}