body{
    margin: 0;
    padding: 0;
    background-image: url(https://t3.ftcdn.net/jpg/03/17/09/60/360_F_317096096_auvS8zUJ9i5T9dhK8B7nWIAOELMbVs5w.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}